.filtersContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto 10px auto;
    max-width: 1290px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.75);
    border: 5px ridge goldenrod;
}

.selectSection {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    max-width: 250px;
    height: 30px;

}

.title {
    color: #ffff00;
    font-weight: bold;
    display: flex;
    justify-content: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 1px #ffff00, 0 0 2px #ffff00, 0 0 3px #ffff00, 0 0 4px #ffff00, 0 0 5px #ffff00;
    }
    to {
      text-shadow: 0 0 0px #fff, 0 0 2px #ffff00, 0 0 4px #ffff00, 0 0 6px #ffff00, 0 0 8px #ffff00, 0 0 10px #ffff00, 0 0 12px #ffff00;
    }
  }


.select {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    font-size: 18px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-weight: bold;
    /* background-color: #f0ed46; */
    background-color: #ffff00;
    box-shadow: 0 0 5px #ffff00;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 0px;
    padding-bottom: 4px;
    cursor: pointer;

}

.select:focus {
    outline: none;
}



.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 330px);
    margin: 10px auto;
    justify-content: center;
    max-width: 1320px;
}

@media screen and (max-width: 1334px) {
    .filtersContainer {
        max-width: 960px;
    }
}

@media screen and (max-width: 1004px) {
    .filtersContainer {
        max-width: 631px;
    }
}

@media screen and (max-width: 900px) {
    .filtersContainer {
        margin-top: 90px;
    }
}

@media screen and (max-width: 674px) {
    .filtersContainer {
        flex-direction: column;
        max-width: 300px;
        height: 220px;
        
    }
    .selectSection {
        margin: 5px 0px;
    }
    .title {
        margin: 5px 0px;
    }
}

@media screen and (max-width: 300px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}