.card {
    margin: 10px;
    display: inline-block;
    text-align: center;
    box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.75);
    border-radius: 50px 0px 50px 0px;
}

@keyframes rotateCard {
    0% {
        transform: rotate(0deg) scale(1);
    }
    33% {
      transform: rotate(-2deg) scale(1.06);
    }
    67% {
        transform: rotate(2deg) scale(1.06);
    }
    100% {
        transform: rotate(0deg) scale(1.06);
    }
  }

.card:hover {
    animation: rotateCard 0.7s forwards;
    z-index: 1;
}

.card img {
    border-bottom: 5px ridge goldenrod;
    border-radius: 45px 0px 0px 0px;
}

.imageAndTextContainer {
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    border: 5px ridge goldenrod;
    border-radius: 50px 0px 50px 0px;
    max-width: 300px;
    width: 300px;
   
}

.closeButton {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /*con esto lo hago redondo (y ancho y alto iguales)*/
    font-size: medium;
    font-weight: bold;
    background-color: rgba(247, 75, 85, 50%);
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 0.3s ease;
}

.closeButton:hover {
    background-color: rgba(247, 75, 85, 100%);
    /*#f74b55*/
    transform: scale(1.1);
}

.closeBbutton:active {
    transform: scale(1);
    /*#f74b55 pasado a opaco*/
    ;
}

.favButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /*con esto lo hago redondo (y ancho y alto iguales)*/
    font-size: medium;
    font-weight: bold;
    background-color: goldenrod;
    opacity: 50%;
    position: absolute;
    top: 40px;
    right: 5px;
    transition: all 0.3s ease;
    text-align: center;
}

.favButtonTrue {
    opacity: 80%;
}

.favButton:hover {
    opacity: 100%;
    transform: scale(1.1);
}

.favBbutton:active {
    transform: scale(1);
    /*#f74b55 pasado a opaco*/
    ;
}

.nameButton {
    display: flex;
    align-items: center;
    background-color: #057c8bcb; 
    /* background: linear-gradient(90deg, #057c8bcb, #56d3e4cb); */
    position: absolute;
    top: 270px;
    left: 0px;
    height: 30px;
    font-size: 1em;
    border: none;
    color: white;
    font-family: 'PaytoneOne';
    font-weight: bold;
    white-space: nowrap;
    min-width: 150px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.nameButton:hover {
    cursor: pointer;
}

.ripplesContainer {
    position: absolute;
    top: 0;
    left: 0;
}

.ripplesContainer .span {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }

    100% {
        width: 400px;
        height: 400px;
        opacity: 0;
    }
}

.imageAndTextContainer h2 {
    padding: 0px 10px;
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.imageAndTextContainer span {
    font-size: 14px;
}

.imageAndTextContainer .name {
    font-size: 17px;
}

.infoDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 5px 0px;
    background-image: url('../../img/text-detail-img.png');
    background-position: right;
    background-size: contain;
    border-radius: 0px 0px 50px 0px;
}


@media screen and (max-width: 300px) {
    .imageAndTextContainer {
        max-width: 90vw;
    }

    .card {
        box-shadow: none;
    }

    .card img {
        width: 90vw;
    }

    .nameDiv {
        top: 222px;
    }

    .imageAndTextContainer h2 {
        font-size: 10px;
    }

    .imageAndTextContainer span {
        font-size: 12px;
    }
}