.searchBarContainer {
    display: flex;
    justify-content: center;
    width: 964px;
    height: 75px;
    opacity: 1;
    font-family: 'PaytoneOne';  
    margin-right: 20px;
}

.searchBarDiv {  /*tarea, hacerlo responsive*/
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    height: 75px;
    min-width: fit-content;
    
    
    
}

.inputBar {
    color: white;
    font-size:16px;
    text-align:start;
    background-color: black;
    box-shadow: 0 0 5px white;
    height: 30px;
    width: 400px;
    border-radius: 5px;
    margin-right: 6px;
    font-family: 'PaytoneOne'; 
}

.inputBar::placeholder {
    color: rgba(255, 255, 255, 0.74);
}

.inputBar:focus {
    outline: none;
} 

.addButton {
    display: flex;
    color: black;
    background-color: #35ff03;
    box-shadow: 0 0 5px #35ff03;
    /* background-color: #f74b55; */
    font-size: 18px;
    height: 30px;
    width: auto; 
    border-radius: 5px;
    margin-right: 5px;
    font-family: 'PaytoneOne'; 
    font-weight: bold;
    white-space: nowrap;
    min-width: fit-content;
    transition: transform 0.3s ease;
}

.addButton:hover {
    transform: scale(1.1);
}




@media screen and (min-width: 900px) and (max-width: 1230px) {.inputBar { width: 50%} }

@media screen  and (max-width: 900px) { 
    .searchBarContainer {
        background-color: rgba(0, 0, 0, 0.7);
    }
    .searchBarDiv {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 50%; 
    } 
    
}

@media screen  and (max-width: 674px) { 
    .inputBar {
        width: 35%;
    }

    .searchBarDiv {
        width: 35%;
        justify-content: space-between;
        align-items: center; 
        padding: 0;
        margin: 0;
    } 

    
}

@media screen  and (max-width: 450px) { 
    .inputBar {
        width: 30vw;
    }
    .searchBarDiv {
        justify-content: center;
    }
    .addButton {
        font-size: 12px;
        align-items: center;
    }

    .searchBarContainer {
       
        margin-right: 0px;
        width:100vw;
    }
}