/* @font-face {
  font-family: 'Rick-and-morty';
  src: url(./font/get_schwifty.ttf);
} */
@font-face {
  font-family: 'PaytoneOne';
  src: url(./font/PaytoneOne-Regular.ttf);
  letter-spacing: 10px;
}


.App {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  font-family:'PaytoneOne';
  width: 100vw;
  height: 100vh;
  overflow-x:hidden;
  overflow-y:auto;
  scrollbar-gutter: stable both edges;
}
