/* @font-face {
  font-family: 'Rick-and-morty';
  src: url(./font/get_schwifty.ttf);
} */
@font-face {
  font-family: 'Creepster';
  src: url(./font/get_schwifty.ttf);
}


.App {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  font-family:'Comic Sans', 'Comic Sans MS', cursive;
  width: 100vw;
  height: 100vh;
  overflow-x:hidden;
  overflow-y:auto;
  scrollbar-gutter: stable both edges;
}
