.navDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: cursive;
    font-weight: bold;

}

.navButtonGroup {
    display: flex;
    justify-content: space-evenly;
    min-width: 700px;
}

.navButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 120px;
    font-size: 22px;
    letter-spacing: 3px;
    color: #35ff03; /* Fluorescent green color */
    text-decoration: none;
    white-space: nowrap;
    /* animation */
    position: relative;
    transition: transform 0.3s ease;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 2px #35ff03, 0 0 4px #35ff03, 0 0 6px #35ff03, 0 0 8px #35ff03, 0 0 10px #35ff03;
    }
    to {
      text-shadow: 0 0 0px #fff, 0 0 2px #35ff03, 0 0 4px #35ff03, 0 0 6px #35ff03, 0 0 8px #35ff03, 0 0 10px #35ff03, 0 0 12px #35ff03;
    }
  }

.navButton span {
    translate: 0px -4px;
}

@keyframes moveUpAppear {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    10% {
        transform: translateY(-25%);
        opacity: 1;
    }

    20% {
        transform: translateY(-50%);
        opacity: 1;
    }

    30% {
        transform: translateY(-75%);
        opacity: 1;
    }

    40% {
        transform: translateY(-100%);
        opacity: 0;
    }

    50% {
        transform: translateY(100%);
        opacity: 0;
    }

    60% {
        transform: translateY(100%);
        opacity: 1;
    }

    70% {
        transform: translateY(75%);
        opacity: 1;
    }

    80% {
        transform: translateY(50%);
        opacity: 1;
    }

    90% {
        transform: translateY(25%);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.navButton:hover span {
    animation: moveUpAppear 0.7s ;
}










@media screen and (max-width: 450px) {

    .navButtonGroup {
        justify-content: space-between;
        max-width: 100vw;
    }

    .navButton {
        width: 90px;
        font-size: 16px;
    }
}

@media screen and (max-width: 350px) {

    .navButton {
        width: 70px;
        font-size: 12px;

    }
}


@media screen and (max-width: 900px) {
    .navDiv {
        flex-direction: column;
    }
    .navButtonGroup {
        min-width: 200px;
    }
}